.btn-custom-green {
  background-color: #5ae4a8 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-green:hover {
  background-color: #48b384; /* Um verde mais escuro para o efeito hover */
}


h1{
  color: #3d532d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
