<h2>Detalhes </h2>
<div class="row d-flex">
<div class="col-md-4">
  <div >
    <h5>Nome :</h5><p>{{name}}</p>
    <h5>Sexo :</h5><p>{{gender}}</p>
    <h5>Convênio :</h5><p>{{insurance}}</p>
    <h5>Especialidade:</h5><p>{{especialist}}</p>
    <h5>Condutas:</h5><p>{{procedures}}</p>
  </div>
</div>
<div class="col-md-4">
  <h5>Idade :</h5><p>{{age}}</p>
  <h5>Data Admissão :</h5><p>{{admissionDate | date: "dd/MM/yyyy"}}</p>
  <h5>Data Alta :</h5><p>{{dischargeDate | date: "dd/MM/yyyy"}}</p>
  <h5>MRC ADM:</h5><p>{{mrc}}</p>
  <h5>MRC Alta:</h5><p>{{mrcDischarge}}</p>
</div>
<div class="col-md-4">
  <h5>Setor :</h5><p>{{department}}</p>
  <h5>Alta / Status :</h5><p>{{dischargeStatus}}</p>
  <h5>Diagnóstico:</h5><p>{{diagnoses}}</p>
  <h5>Comorbidade:</h5><p>{{comorbidities}}</p>
</div>
</div>
