.btn-custom-green {
  background-color: #597445 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-green:hover {
  background-color: #3d532d; /* Um verde mais escuro para o efeito hover */
}
.btn-custom-light-green {
  background-color: #86a371 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-action-custom-green:hover {
  background-color: #fcfcfc; /* Um verde mais escuro para o efeito hover */
}
.btn-action-custom-green {
  color: #597445; /* Um verde mais escuro para o efeito hover */
}
.form-check-input:checked {
  background-color: #597445 !important; /* Fundo verde */
  border-color: #597445 !important; /* Borda verde */
}
