<div class="title mt-3">
  <h2>Lista Paciente</h2>
  <hr>
</div>

<div class="ms-2 me-2">
  <app-search-component
    (search)="searchPacients($event)"
    (clear)="clearFilters()"
    (searchAll)="showAllPacientes()">
  </app-search-component>
</div>

<div class="table-responsive mt-4 small">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th scope="col">Qtd</th>
        <th scope="col">Nome</th>
        <th scope="col">Setor</th>
        <th scope="col">Convênio</th>
        <th scope="col">Diagnóstico</th>
        <th scope="col">Plano Terapêutico</th>
        <th scope="col">Dt Admissão</th>
        <th scope="col">Dt Alta</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let item of listPacients let i = index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.department}}</td>
        <td>{{item.insurance}}</td>
        <td class="text-truncate" style="max-width: 150px; overflow: hidden; white-space: nowrap;">{{item.diagnoses}}</td>
        <td><input class="form-check-input" [checked]="item.therapeuticPlan" type="checkbox" value="therapeuticPlan"
            id="therapeuticPlan"></td>
        <td>{{item.admissionDate | date: "dd/MM/yyyy"}}</td>
        <td>{{item.dischargeDate | date: "dd/MM/yyyy"}}</td>
        <td>{{item.dischargeStatus}}</td>
        <td>
          <button class="btn btn-action-custom-green ms-2" title="Editar" (click)="showEditModal(item.id)"> <fa-icon
              [icon]="IconsService.faReceipt" ></fa-icon></button>

          <button class="btn btn-action-custom-green ms-2" title="Detalhes" (click)="showDetailModal(item.id)"> <fa-icon
              [icon]="IconsService.faHouseChimneyCrack" ></fa-icon></button>

              <button class="btn btn-action-custom-green ms-2" title="Excluir" (click)="confirmeDelete($event, item.name, item.id)"> <fa-icon
                [icon]="IconsService.faTrashCan" ></fa-icon></button>


              </td>
      </tr>
  </table>
</div>

<p-dialog [modal]="false" [(visible)]="editModalVisible" [style]="{ width: '50rem', backgroundColor: 'white'}"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div style="color: gray">
    <app-generic-form *ngIf="itemSelect" [itemId]="itemSelect"></app-generic-form>
  </div>
</p-dialog>

<p-dialog [modal]="false" [(visible)]="detailModalVisible" [style]="{ width: '50rem', backgroundColor: 'white'}"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div style="color: gray">
    <app-detail-component *ngIf="detailModalVisible" [itemId]="itemSelect"></app-detail-component>
  </div>
</p-dialog>

<p-confirmPopup #confirmPopup></p-confirmPopup>
