.btn-custom-green {
  background-color: #5ae4a8 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-green:hover {
  background-color: #5ae4a8; /* Um verde mais escuro para o efeito hover */
}
.btn-custom-light-green {
  background-color: #48b384 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-action-custom-green:hover {
  background-color: #fcfcfc; /* Um verde mais escuro para o efeito hover */
}
.btn-action-custom-green {
  color: #48b384; /* Um verde mais escuro para o efeito hover */
}
.form-check-input:checked {
  background-color: #48b384 !important; /* Fundo verde */
  border-color: #48b384 !important; /* Borda verde */
}
