.navbar{
  display: flex;
  gap: 20px;
}

.navbar a{
  margin-left: 20px;
  margin-right: 20px;
}

.btn-custom-green {
  background-color: #5ae4a8 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-green:hover {
  background-color: #48b384; /* Um verde mais escuro para o efeito hover */
}

::ng-deep .p-toast .p-toast-message-success .p-toast-detail {
  color: #5ae4a8 !important;
  font-weight: bold;
}
