.form-check-input:checked {
  background-color: #5ae4a8 !important; /* Fundo verde */
  border-color: #5ae4a8 !important; /* Borda verde */
}


form h5 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #597445;
}

.form-title-info{
  margin-top: 10px;
}

.btn-custom-green {
  background-color: #597445 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-green:hover {
  background-color: #3d532d; /* Um verde mais escuro para o efeito hover */
}

.btn-custom-light-green {
  background-color: #86a371 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-light-green:hover {
  background-color: #3d532d; /* Um verde mais escuro para o efeito hover */
}
