.form-check-input:checked {
  background-color: #5ae4a8 !important; /* Fundo verde */
  border-color: #5ae4a8 !important; /* Borda verde */
}

/* 5ae4a8 48b384 */
form h5 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #404744;
}

.form-title-info{
  margin-top: 10px;
}

.btn-custom-green {
  background-color: #5ae4a8 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-green:hover {
  background-color: #48b384; /* Um verde mais escuro para o efeito hover */
}

.btn-custom-light-green {
  background-color: #5ae4a8 ; /* Verde do Bootstrap */
  color: #ffffff;
  border: none;
}

.btn-custom-light-green:hover {
  background-color: #48b384; /* Um verde mais escuro para o efeito hover */
}

.title{
  color: #5500ff;
}
